.container {
  display: flex;
  padding: 16px;
  gap: 10px;
  justify-content: center;
}

.margin-top {
  margin-top: 32px;
}

.card-img {
  width: 20%;
  height: 200px;
}

.fields {
  margin-top: 16px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
