<div class="container">
  <div class="div">
    <div class="week-days">
      <div *ngFor="let weekday of weekdays">
        <p style="text-align: center">{{ weekday }}</p>
      </div>
    </div>
    <div class="months">
      <div
        *ngFor="
          let date of getDatesInMonth(date.getFullYear(), date.getMonth());
          let isFirst = first
        "
        [ngStyle]="isFirst ? { 'grid-column-start': date.getDay() + 1 } : null"
      >
        <p
          style="text-align: center"
          [ngClass]="markDates(date.getDay(), date.getDate())"
        >
          {{ date.getDate() }}
        </p>
      </div>
    </div>
  </div>
</div>
