.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.months,
.week-days {
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(7, 90px);
}

.months {
  margin-top: 24px;
}

.mark {
  color: blue;
}
